@-webkit-keyframes move 
	to
		transform translateX(5px)


.clearFloat
	width 0
	height 0
	clear both
		

body
	.header
		width 100%
		height 60px
		background-color #242424
		.header-nav
			width 980px
			margin 0 auto
			.header-icon
				width 70px
				height 60px
				float left
				// background-color red
				font-size 18px
				font-weight bold
				color #fe0
				padding-left 28px
				padding-top 9px
				line-height 20px
			.nav-box
				width 905px
				// height 60px
				padding-left 5px
				padding-top 15px
				float left
				a
					display inline-block
					padding 0 16px
					line-height 26px
					font-size 16px
					color #fff
					border 2px solid #fff
					border-radius 15px
	.part-1
		width 100%
		height 581px
		background-color #3dac67
		background-image url(../img/bg.jpg)
		background-repeat no-repeat
		position relative
		padding-top 315px
		.btn-msqq
			display block
			width 230px
			height 50px
			// line-height 38px
			color #e7153a
			border 2px solid #1e1c6f
			background-color #fae90b
			border-radius 20px
			box-shadow 0 2px 0 0 #1e1c6f
			text-align center
			margin 0 auto
			span
				font-size 30px
				font-weight bold
				line-height 48px
			.icon-msqq
				display inline-block
				width 14px
				height 22px
				// background-color red
				position relative
				top 1px
				left 3px
				background-image url(../img/icon-smqq.png)
				// background-position -8px 0
				animation move 1s infinite linear
		.other-nav
			width 1000px
			height 173px
			// background-color red
			margin 43px auto 0
			padding-top 30px
			a
				display block
				float left
				width 188px
				height 123px
				margin-right 10px
				background-color #000
				color #fff
				line-height 28px
				padding-top 12px
				padding-left 10px
				&.img-1
					background-image url("http://s.qunarzz.com/package_tuan/2016/20160622/pc/go_01.jpg")
				&.img-2
					background-image url("http://s.qunarzz.com/package_tuan/2016/20160622/pc/go_02.jpg")
				&.img-3
					background-image url("http://s.qunarzz.com/package_tuan/2016/20160622/pc/go_03.jpg")
				&.img-4
					background-image url("http://s.qunarzz.com/package_tuan/2016/20160622/pc/go_04.jpg")
				&.img-5
					background-image url("http://s.qunarzz.com/package_tuan/2016/20160622/pc/go_05.jpg")
				.other-t1
					font-size 24px
					font-weight bold
				.other-t2
					font-size 14px
			
	.part-2
		width 100%
		height 5140px
		background-color #815ad8
	.part-3
		width 100%
		height 7379px
		background-color #6633da
		padding-bottom 40px
	.r-nav
		position absolute
		right 10px
		top 540px
		width 116px
		height 403px
		// background-color red
		&.fixed-n
			position fixed
			top 100px
			right 10px
		.top-img-box
			width 116px
			height 120px
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/sprite2.png)
			background-repeat no-repeat
			background-position 0 0
		.list-box
			width 116px
			height 230px
			padding 0 10px
			background-color #8839f2
			position relative
			z-index 2
			.li-box
				display block
				font-size 14px
				color #fff
				text-align center
				line-height 32px
				&:not(:last-child)
					border-bottom 1px solid #9550e7
				&:hover
					color #fe0
		.bottom-box
			width 116px
			height 116px
			background-color #7939cf
			border-radius 60px
			position relative
			top -65px
			z-index 1
			color #fff
			text-align center
			padding-top 80px
			a
				display block
				font-size 20px
				font-weight bold
				&:hover
					color #fe0
				
			
	.p2-box
		width 980px
		margin 0 auto
		padding-top 60px
		&.guonei .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_08.jpg)
		&.chujin .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_02.jpg)
		&.summer .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_04.jpg)
		&.shop .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_03.jpg)
		&.vip .top-bg-2
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/freedom_hd.jpg)
		&.water .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_06.jpg)
		&.free .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_09.jpg)
		&.chujinbb .top-bg
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/tit_05.jpg)
		.bgc-1
			background-color #815ad8
			overflow hidden
		.bgc-2
			background-color #e2b800
			overflow hidden
		.bgc-3
			background-color #4677ce
			overflow hidden
		.bgc-4
			background-color #ee9a50
			overflow hidden
		.top-bg-2
			height 190px
			text-align center
			padding-top 25px
			p
				font-weight bold
				font-size 30px
				color #fff
		.vip-2
			width 962px
			height 100px
			background-color #4574e8
			border-radius 10px
			margin 0 auto
			position relative
			.left
				width 480px
				height 100px
				padding-top 10px
				padding-left 20px
				float left
				// line-height 30px
				position relative
				.left-t1
					font bold 88px arial
					color #fff
					float left
					line-height 88px
				.left-t2
					float left
					width 260px
					.t2-txt1
						padding-top 10px
						font-size 24px
						font-weight bold
						color #fff
						// line-height 30px
					.t2-txt2
						color #f9db00
						font-size 36px
						font-weight bold
						span
							font-size 46px
							font-family Impact
				.btn-go
					display block
					float left
					width 86px
					height 75px
					background-color #fae90b
					color #e7153a
					border-radius 8px
					font-size 24px
					font-weight bold
					padding-left 16px
					padding-right 10px
					padding-top 14px
					margin-top 4px
				.line
					width 2px
					height 100px
					border-right 3px dotted #6c36de
					// background-color #6c36de
					position absolute
					bottom 0
					left 480px					
			.right
				width 480px
				height 100px
				padding-top 10px
				padding-left 70px
				float left
				.left-t1
					font bold 88px arial
					color #fff
					float left
					line-height 88px
				.left-t2
					float left
					width 260px
					.t2-txt1
						padding-top 10px
						font-size 24px
						font-weight bold
						color #fff
						line-height 30px
					.t2-txt2
						color #f9db00
						font-size 36px
						font-weight bold
				.btn-go
					display block
					float left
					width 86px
					height 75px
					background-color #fae90b
					color #e7153a
					border-radius 8px
					font-size 24px
					font-weight bold
					padding-left 5px
					padding-right 0px
					padding-top 25px
					margin-top 4px
			.leveup
				width 112px
				height 28px
				line-height 26px
				text-align center
				background-color #491bb2
				color #fff
				font-size 18px
				font-weight bold
				border-radius 14px
				position absolute
				top 0px
				right 424px
		.vip-3
			height 200px
			background-image url(http://s.qunarzz.com/package_tuan/2016/20160622/pc/freedom_ft.jpg)
		.top-bg
			height 93px
			text-align center
			padding-top 10px
			.top-bg-t1
				font-weight bold
				font-size 30px
				color #fff
			.top-bg2-t1
				font-weight bold
				font-size 30px
				color #fff
				margin-top 10px
			.top-bg-t2
				font-weight bold
				font-size 16px
				color #fe0
				margin-top 6px
		.top-box
			height 52px
			width 960px
			margin 0 auto
			&.fixed
				position fixed
				top 0
				left 472px
				z-index 90
			a
				display block
				float left
				width 478px
				border 1px solid #4f1ebd
				background-color #9369f0
				color #4f1ebd
				font-size 18px
				line-height 50px
				text-align center
				font-weight bold
				&:first-child
					border-radius 8px 0 0 8px
				&:last-child
					border-radius 0 8px 8px 0
				&.top-on
					color #fe0
					background-color #4f1ebd
			a.top-on-2
				background-color #9b800b
				color #fe0
				border-color #9b800b
			a.type-2
				background-color #f7e16e
				color #a16a08
				border-color #9b800b
			a.top-on-3
				background-color #e76026
				color #f4e513
				border-color #e76026
			a.type-3
				background-color #fec27c
				color #e76026
				border-color #e76026
			a.top-on-4
				background-color #13459b
				color #f4e513
				border-color #13459b
				width 320px
			a.type-4
				background-color #7bbdf7
				color #13459b
				border-color #13459b
				width 320px
		.main-box
			.inMain-box
				display block
				float left
				width 224px
				height 266px
				margin-top 15px
				margin-right 10px
				margin-left 10px
				background-color red
				position relative
				.imgbox
					width 100%
					height 149px
					overflow hidden
					background-color yellow
				.dazhe
					width 68px
					height 68px
					border-radius 50%
					background-color #f23e4f
					text-align center
					line-height 20px
					font-size 14px
					position absolute
					right 10px
					top 10px
					padding-top 12px
					.dazhe-t1
						color #fff
					.dazhe-num
						color #fff06e
						font-weight bold
				.in-text
					width 100%
					height 117px
					padding 10px
					background-color #fff
					position relative
					.in-text1
						font-size 16px
						font-weight bold
						color #333
						line-height 24px
						white-space nowrap
						overflow hidden
						text-overflow ellipsis
					.in-text2
						font-size 14px
						color #333
						line-height 21px
						white-space nowrap
						overflow hidden
						text-overflow ellipsis
					.price
						font-size 14px
						color #ff3939
						margin-top 12px
						.price-num
							font-size 24px
					.del-price
						margin-top 2px
						font-size 14px
						color #666
						span
							text-decoration line-through
					.btn-qg
						width 80px
						height 40px
						line-height 40px
						text-align center
						background-color #ff3939
						color #fff
						font-size 16px
						border-radius 5px
						position absolute
						right 10px
						bottom 10px
		.more
			width 970px
			height 35px
			// background-color red
			margin 60px auto 0
			// padding-bottom 36px
			border-top 1px solid rgba(0,0,0,0.5)
			a
				display block
				width 132px
				line-height 35px
				text-align center
				color #fff
				border-radius 17px
				font-size 16px
				background-color rgb(55,41,85)
				margin 0 auto
				position relative
				bottom 17px
				&.c-type2
					background-color rgb(88,73,10)
				&.c-type3
					background-color rgb(34,51,81)
				&.c-type4
					background-color rgb(92,67,37)
							
						
			