<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>暑假会员节,度假超值购—去哪儿网</title>
		<link rel="stylesheet" type="text/css" href="./lib/reset.css">
		<link rel="stylesheet" type="text/css" href="./css/qunar.css">
	</head>
	<body>
		<div class="header">
			<div class="header-nav">
				<div class="header-icon">出发城市</div>
				<div class="nav-box">
					<a>北京</a>
					<a>天津</a>
					<a>上海</a>
					<a>广深</a>
					<a>成都</a>
					<a>重庆</a>
					<a>西安</a>
					<a>江浙</a>
					<a>其他</a>
				</div>
			</div>
		</div>
		<div class="part-1">
			<a class="btn-msqq">
				<span>马上去抢</span>
				<i class="icon-msqq"></i>
			</a>
			<div class="other-nav">
				<a class="img-1">
					<p class="other-t1">爆品专区</p>
					<p class="other-t2">5折 / 8折疯狂抢</p>
				</a>
				<a class="img-2">
					<p class="other-t1">暑期热门线路</p>
					<p class="other-t2">低至999元起</p>
				</a>
				<a class="img-3">
					<p class="other-t1">出境必备</p>
					<p class="other-t2">会员WIFI 88折</p>
				</a>
				<a class="img-4">
					<p class="other-t1">特价玩水</p>
					<p class="other-t2">爆款9元起</p>
				</a>
				<a class="img-5">
					<p class="other-t1">亲子夏令营</p>
					<p class="other-t2">定制线路更划算</p>
				</a>
			</div>
		</div>
		<div class="part-2">
			<div class="p2-box guonei">
				<div class="bgc-1">
					<div class="top-bg">
						<p class="top-bg-t1">国内爆品专区</p>
						<p class="top-bg-t2">抢购产品秒变度假会员</p>
					</div>
					<div class="top-box">
						<a class="top-on">跟团游</a>
						<a>自由行</a>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a>更多特价</a>
					</div>
				</div>
			</div>

			<div class="p2-box chujin">
				<div class="bgc-1">
					<div class="top-bg">
						<p class="top-bg-t1">出境爆品专区</p>
						<p class="top-bg-t2">抢购产品秒变度假会员</p>
					</div>
					<div class="top-box">
						<a class="top-on">跟团游</a>
						<a>自由行</a>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a>更多特价</a>
					</div>
				</div>
			</div>

			<div class="p2-box summer">
				<div class="bgc-2">
					<div class="top-bg">
						<p class="top-bg2-t1">暑期热门线路·特价2.2折起</p>
					</div>
					<div class="top-box">
						<a class="top-on-2">国内</a>
						<a class="type-2">出境</a>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a class="c-type2">更多特价</a>
					</div>
				</div>
			</div>

			<div class="p2-box shop">
				<div class="bgc-3">
					<div class="top-bg">
						<p class="top-bg2-t1">邮轮专场·特价3.6折起</p>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a class="c-type3">更多特价</a>
					</div>
				</div>
			</div>

		</div>

		<div class="part-3">
			<div class="p2-box vip">
				<div class="top-bg-2">
					<p>会员专区</p>
				</div>
				<div style="background-color:#491bb2; width:100%; height:100px;">
					<div class="vip-2">
						<div class="left">
							<div class="left-t1">1</div>
							<div class="left-t2">
								<p class="t2-txt1">购买度假全年会员特权</p>
								<p class="t2-txt2">限时仅需<span>19</span>元</p>
							</div>
							<a class="btn-go">先抢先得</a>
							<div class="line"></div>
						</div>
						<div class="right">
							<div class="left-t1">2</div>
							<div class="left-t2">
								<p class="t2-txt1">购买爆品专区产品</p>
								<p class="t2-txt2">免费升级会员</p>
							</div>
							<a class="btn-go">去看看</a>
							<div class="line"></div>
						</div>
						<div class="leveup">升级方式</div>
					</div>
				</div>

				<div class="vip-3"></div>
				
			</div>

			<div class="p2-box water">
				<div class="bgc-4">
					<div class="top-bg">
						<p class="top-bg2-t1">特价玩水·低至1120元起</p>
					</div>
					<div class="top-box">
						<a class="top-on-3">国内</a>
						<a class="type-3">出境</a>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a class="c-type4">更多特价</a>
					</div>
				</div>
			</div>

			<div class="p2-box free">
				<div class="bgc-3">
					<div class="top-bg">
						<p class="top-bg2-t1">自由行</p>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a class="c-type3">更多特价</a>
					</div>
				</div>
			</div>

			<div class="p2-box chujinbb">
				<div class="bgc-3">
					<div class="top-bg">
						<p class="top-bg2-t1">出境必备</p>
					</div>
					<div class="top-box">
						<a class="top-on-4">签证</a>
						<a class="type-4">WIFI</a>
						<a class="type-4">包车</a>
					</div>
					<div class="main-box">
					</div>
					<div class="clearFloat"></div>
					<div class="more">
						<a class="c-type3">更多特价</a>
					</div>
				</div>
			</div> 	

		</div>

		<div class="r-nav">
			<div class="top-img-box"></div>
			<div class="list-box">
				<a class="li-box">国内爆品</a>
				<a class="li-box">处境爆品</a>
				<a class="li-box">暑期热门路线</a>
				<a class="li-box">会员专区</a>
				<a class="li-box">特价玩水</a>
				<a class="li-box">自由行</a>
				<a class="li-box">处境必备</a>
			</div>
			<div class="bottom-box">
				<a>TOP</a>
			</div>
		</div>

		<!-- 引用模版js -->
		<script src="./lib/arttemplate@3.0.0.min.js"></script>

		<script type="text/html" id="tmpl">

			<% for(var i=0,dataLen=data.length;i<dataLen;i++){ %>
				<a class="inMain-box">
					<div class="imgbox">
						<img />
					</div>
					<div class="dazhe">
						<p class="dazhe-t1">立享</p>
						<p class="dazhe-num"><%=data[i].cut%>折</p>
					</div>
					<div class="in-text">
						<div class="in-text1"><%=data[i].title%></div>
						<div class="in-text2"><%=data[i].description%></div>
						<div class="price">¥<span class="price-num"><%=data[i].price%></span>起</div>
						<div class="del-price">¥<span><%=data[i].oldPrice%></span></div>
						<div class="btn-qg">抢购</div>
					</div>
				</a>
			<% } %>

		</script>



		<script src="./lib/jquery@2.2.4.min.js"></script>
		<script src="./js/tmpl_qunar.js"></script>

	</body>
</html>